<section>
    <div class="input-datetime">
        <mat-form-field appearance="fill">
            <input matInput type="datetime-local" placeholder="Date and time" required [(ngModel)]="dateTime"
                (ngModelChange)='saveSchedule()'>
        </mat-form-field>
    </div>

    <div class="input-repeat-type">
        <mat-form-field appearance="fill">
            <mat-label>Repeat</mat-label>
            <mat-select [(ngModel)]="selectedType.name" (selectionChange)="onTypeSelect($event.value)"
                (ngModelChange)='saveSchedule()'>
                <mat-option *ngFor="let type of repeatTypes" [value]="type.name">
                    {{ type.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</section>

<section *ngIf="isCustomType" class="input-custom-type">
    <div class="input-repeat-times">
        <mat-label>Repeat Times: </mat-label>
        <mat-form-field appearance="fill">
            <input matInput min="1" type='number' [(ngModel)]="selectedType.repeatTimes"
                (ngModelChange)='saveSchedule()'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedType.repeatTimesType" (ngModelChange)='saveSchedule()'>
                <mat-option *ngFor="let type of repeatTimesTypes" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="input-repeat-days">
        <mat-form-field appearance="fill">
            <mat-select multiple [(ngModel)]="selectedType.repeatDays" (ngModelChange)='saveSchedule()'>
                <mat-option *ngFor="let day of weekDays" [value]="day">
                    {{ day }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="input-any-time-within">
        <mat-checkbox [(ngModel)]="anyTimeWithinChecked" (ngModelChange)='saveSchedule()'>
            Run any within the hours of
        </mat-checkbox>
        <section *ngIf="anyTimeWithinChecked">
            <mat-form-field appearance="fill">
                <input matInput type="time" [(ngModel)]="selectedType.startWithinTime" (ngModelChange)='saveSchedule()'>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput type="time" [(ngModel)]="selectedType.endWithinTime" (ngModelChange)='saveSchedule()'>
            </mat-form-field>
        </section>
    </div>
</section>