<mat-list role="list" *ngIf="typeFields">
    <mat-label>Default fields</mat-label>
    <mat-list-item role="listitem" *ngFor="let field of typeFields">
        {{ field.name }}
    </mat-list-item>
</mat-list>
<mat-form-field class="input-add-field">
    <mat-label>Field name</mat-label>
    <input matInput type="text" [(ngModel)]="fieldName">
    <button mat-stroked-button *ngIf="fieldName" matSuffix mat-icon-button aria-label="Clear" (click)="fieldName=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button mat-button color="primary" [disabled]="!fieldName" (click)="addField(fieldName)">Add Field</button>

<mat-list role="list">
    <mat-label>Task fields</mat-label>
    <mat-list-item role="listitem" *ngFor="let field of this.task.fields">
        {{ field }} <button mat-stroked-button color="warn" (click)="removeField(field)">Remove</button>
    </mat-list-item>
</mat-list>

<div>
    <button mat-stroked-button color="primary"
        [routerLink]="['/task/create',task.typeIndex,task.subTypeIndex]">Back</button>
    <button mat-stroked-button color="primary" (click)="saveTask()" [routerLink]="['/task/list']">Save</button>
</div>